body {
    font-family: "Josefin Sans", sans-serif;
  }

  /* Circulo timer */
  .timer-circle {
    width: 500px;
    height: 500px;
    background-color: rgb(225, 239, 197);
    border-radius: 50%;
    border: 2px solid black;
  }

  .timer-title {
    font-size: 80px;
    text-shadow: 1px 1px 5px black;
    border-bottom: 3px solid black;
  }

  /* Popup */
  .popup-frame {
    border: 2px solid #9db668;
  }

  .avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }

  .card-terapeuta:hover {
    background-color: #f0f0f0 !important;
    transform: scale(1.02);
    cursor: pointer;
  }