@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.sair {
    background-color: #C7ED79;
    height: 40px;
    border-radius: 10px;
}

.sair:hover {
    background: #cbff63;
}

.navbar {
    border-top: 5px solid #9DB668;
    border-bottom: 5px solid #E9EAEE;
    height: 150px;
}

.menu a:hover {
    color: #9DB668 !important;
}

.josefin-sans {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.dropcnt {
    border: 5px solid #E9EAEE;
    border-top: none;
    height: 305px;
    position: fixed;
    top: 150px;
    z-index: 999 !important;
}

.dropopt {
    height: 100px;
    border: 1px solid #E9EAEE;
    background-color: white;
}

.dropopt a:hover {
    color: #9DB668 !important;
}

.josefin-sans {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.card-image {
  width: 100%;
  height: 260px;
  border-radius: 20px;
  border: 1px solid #9DB668;
  background-color: #ddd;
}

.card:hover {
  transform: scale(1.06);
  transition: transform 0.5s ease;
}

a.text-decoration-none:hover h3 {
  color: #9DB668 !important;
}
