@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.roboto {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.imglogo {
    display: flex;
    align-self: center;
    justify-self: center;
    /* border: 1px solid red; */
    min-height: 5%;
    height: 10%;
    max-height: 13%;
}

.sair {
    background-color: #c7ed79;
    height: 40px;
    border-radius: 10px;
}

.sair:hover {
    background: #cbff63;
}

.navbar {
    border-top: 5px solid #9db668;
    border-bottom: 5px solid #e9eaee;
    height: 150px;
}

.menu a:hover {
    color: #9db668 !important;
}

.dropcnt {
    border: 5px solid #e9eaee;
    border-top: none;
    height: 305px;
    /* position: fixed; */
    top: 150px;
    z-index: 999 !important;
}

.dropopt {
    height: 100px;
    border: 1px solid #e9eaee;
    background-color: white;
}

.dropopt a:hover {
    color: #9db668 !important;
}

.campos {
    font-weight: 500;
    color: #333;
    font-size: 1rem;
}

#sairbutton:hover{
  background: #9DB668 !important;
}