/* ============================================
   PAGINAINICIO.CSS - Página Inicial (Dashboard)
   ============================================ */

.imglogo {
    display: flex;
    align-self: center;
    justify-self: center;
    min-height: 5%;
    height: 10%;
    max-height: 13%;
}
