@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

.sair {
  background-color: #c7ed79;
  height: 40px;
  border-radius: 10px;
}

.sair:hover {
  background: #cbff63;
}

.navbar {
  border-top: 5px solid #9db668;
  border-bottom: 5px solid #e9eaee;
  height: 150px;
}

.menu a:hover {
  color: #9db668 !important;
}

.josefin-sans {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.dropcnt {
  border: 5px solid #e9eaee;
  border-top: none;
  height: 305px;
  top: 150px;
  z-index: 999 !important;
}

.dropopt {
  height: 100px;
  border: 1px solid #e9eaee;
  background-color: white;
}

.dropopt a:hover {
  color: #9db668 !important;
}
